body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(0,0,0);
    font-family: 'Prompt', sans-serif;
    color: white;
    cursor: url(images/base/cursor.svg), auto;
}

@import url(//db.onlinewebfonts.com/c/c2ff4837879a9b9bbca094b63bdb01c0?family=Aurebesh+AF);
@font-face {
    font-family: "Aurebesh AF";
    src: url("//db.onlinewebfonts.com/t/c2ff4837879a9b9bbca094b63bdb01c0.eot");
    src: url("//db.onlinewebfonts.com/t/c2ff4837879a9b9bbca094b63bdb01c0.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c2ff4837879a9b9bbca094b63bdb01c0.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c2ff4837879a9b9bbca094b63bdb01c0.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c2ff4837879a9b9bbca094b63bdb01c0.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c2ff4837879a9b9bbca094b63bdb01c0.svg#Aurebesh AF") format("svg");
}

::selection {
    background-color: rgb(200, 200, 200);
}

/*--------------------------*/
/* MODAL AND NAVIGATION */
/*--------------------------*/

footer {
    position: fixed;
    bottom: -6rem;
}

.open-modal:hover {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    cursor: url(images/base/pointer.svg), pointer;
}

.open-modal:focus,
.open-modal:active {
    animation: blink .2s 2;
}

@keyframes blink {
    from {
        fill: rgb(100, 100, 100);
    }
    to {
        fill: rgb(255, 255, 255);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(10, 10, 10, 0.95);
    cursor: url(images/base/pointer.svg), pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in;
}
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.close-modal {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 10, 10);
    font-size: 3rem;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 49.8%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.close-modal:hover {
    cursor: url(images/base/pointer.svg), pointer;
}

.close-modal:active,
.close-modal:focus {
    outline: none;
}

/* Navigation */
.navigation {
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background: rgb(10, 10, 10);
    cursor: url(images/base/cursor.svg), default;
}

.link {
    height: auto;
    width: 4rem;
    cursor: url(images/base/pointer.svg), pointer;
}

@media only screen and (max-width: 768px) {
    .link {
        height: auto;
        width: 3rem;
    }
}

.link:hover {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 20s linear forwards;
}

.nav {
    position: absolute;
    top: 49.5%;
    left: 49%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.nav-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    justify-items: center;
    align-items: center;
    top: 13%;
    left: 12%;
}

@media only screen and (max-width: 768px) {
    .navigation {
        width: 24rem;
        height: 24rem;
    }
    .nav {
        width: 20rem;
        height: 20rem;
    }
    .nav-grid {
        grid-template-columns: 8rem 8rem;
        grid-template-rows: 8rem 8rem;
        top: 18%;
        left: 18%;
    }
}

@media only screen and (max-width: 400px) {
    .nav-grid {
        top: 17%;
        left: 13%;
    }
}

/*--------------------------*/
/* INDEX PAGE*/
/*--------------------------*/

#title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15%;
}

@media only screen and (max-width: 500px){
    #title {
        height: auto;
        width: 9rem;
    }
}

#subtitle {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1000px) {
    #subtitle {
        font-size: 1rem;
        letter-spacing: 10px;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 500px){
    #subtitle {
        font-size: 0.5rem;
        letter-spacing: 3px;
        margin-top: 0;
        top: 20.5%;
    }
}

.crosshairs {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 25rem;
    height: auto;
}

#crosshairs {
    top: 2.5%;
}

@media only screen and (max-width: 500px){
    #crosshairs {
        height: auto;
        width: 18rem;
    }
}

video {
    width: 100vw;
    height: auto;
}

/*--------------------------*/
/* MODEL PAGES*/
/*--------------------------*/

.model-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
}

.model-mobile-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    display: none;
}

.volume {
    transform: translateX(1rem);
    height: auto;
    width: 6%;
    cursor: url(images/base/pointer.svg), pointer;
}

.target-model {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.model {
    margin: 0 auto;
    width: 640px;
    height: 480px;
}

.target {
    animation: target infinite 15s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
      }
      to {
        transform: rotate(359deg);
      }
}

.starship-title {
    text-transform: uppercase;
    letter-spacing: 15px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 0;
    animation: moveInLeft 2s ease-in;
}

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
  80%{
    opacity: 1;
    transform: translateX(1rem);
  }
  100%{
    transform: translate(0)
  }

}

.icon {
    position: absolute;
    right: 13%;
    bottom: 20%;
    z-index: 10;
    width: 7rem;
    height: auto;
}

#mf-icon {
    right: 10%;
    bottom: 15%;
}

.icon:hover {
    background-image: url(images/base/small-grid.svg);
    border: 4px solid white;
    cursor: url(images/base/pointer.svg), pointer;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 20s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.specs {
    text-transform: uppercase;
}

.symbol {
    position: absolute;
    left: -100px;
    bottom: 0;
    z-index: -100;
    width: 400px;
    height: auto;
}

.symbol-color {
    animation: pulse 5s linear infinite;
}

@keyframes pulse {
    0% {
        fill: rgb(85, 85, 85);
    }
    50% {
        fill: rgb(120, 120, 120);
    }
    100% {
        fill: rgb(85, 85, 85);
    }
}

@media only screen and (max-width: 1200px) {
    .model {
        width: 600px;
        height: 440px;
        top: -10%;
    }
    .starship-title {
        font-size: 2rem;
        letter-spacing: 10px;
    }
    .icon {
        width: 6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .model {
        width: 480px;
        height: 320px;
        position: relative;
    }
}

@media only screen and (max-width: 800px) {
        .model-background {
        display: none;
    }
    .model-mobile-background {
        display: block;
    }
    .icon {
        right: 17%;
        bottom: 11%;
    }
    #mf-icon {
        right: 22%;
        bottom: 6%;
    }
}


@media only screen and (max-width: 600px) {
    .model {
        width: 400px;
        height: 240px;
    }
    .starship-title {
        font-size: 1.5rem;
        letter-spacing: 10px;
    }
    .symbol {
         width: 300px;
    }
}

/*--------------------------*/
/* BLUEPRINT PAGES */
/*--------------------------*/

.Areubesh {
    position: absolute;
    left: 0;
    bottom: 0;
}

.blueprint-background {
    background-image: url(images/base/grid.png);
}

.blueprint {
    height: 100vh;
    width: auto
}

/*--------------------------*/
/* 404 */
/*--------------------------*/
#error {
    text-align: center;
}

#r2d2 {
    height:auto;
    width: 8rem;
    position: absolute;
    right: -20%;
    animation: slide-left 12s cubic-bezier(.33,1.26,.68,1) infinite;
    cursor: url(images/base/pointer.svg), pointer;
}

/* Not Working... */
#r2D2:hover {
    animation-play-state: paused;
}

@media only screen and (max-width: 768px) {
    #r2d2 {
        animation: slide-left 6s cubic-bezier(.33,1.26,.68,1) infinite;
    }
}

@keyframes slide-left {
    0% {
        right: -20%;
    }

    50% {
        right: 60%;
    }

    60% {
        right: 60%;
    }
  
    100% {
        right: 100%;
    }
}